<!-- Portfolio Grid Section -->
    <section id="how" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How</h2>
                    <h3 class="section-subheading text-muted">An old operating system's concept in a new light.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    We're implementing a distributed shared memory
                    infrastructure called gallocy. At its core, gallocy is
                    user-space C/C++ software library that implements a
                    network-aware virtual memory management system. Just as an
                    operating system manages the memory of a physical machine,
                    gallocy manages the memory of a distributed virtual
                    machine.
                    <br />
                    <br />
                    The gallocy framework joins your data center into one
                    logical computer. What was a warehouse full of servers is
                    now a warehouse full of resources that can be thought of
                    and treated just like CPU and RAM of a single server.
                </div>
                <div class="col-md-6">
                    Combined with a gallocy-aware implementation of the <a
                    href="https://en.wikipedia.org/wiki/POSIX_Threads">POSIX
                    threads</a> interface and a novel <a
                    href="https://en.wikipedia.org/wiki/Memory_coherence">memory
                    coherence</a>
                    protocol, we're creating a distributed computer that can
                    address a conceptually infinite amount of memory and
                    processing cores, while preserving the <a
                      href="https://en.wikipedia.org/wiki/Process_%28computing%29">process
                      abstraction</a>. Run a single process across all of your
                    machines.
                    <br />
                    <br />
                    The possibilities are endless. Build distributed in-memory
                    filesystems, key-value stores, graph databases, relational
                    query engines, and more, by leveraging the gallocy
                    framework.
                </div>
            </div>
        </div>
    </section>
