<!-- g Section -->
    <section id="technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technology</h2>
                    <h3 class="section-subheading text-muted">We're currently incubating software that pushes the limits of modern computers.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Warehouse Computing</h4>
                    <p class="text-muted">Use your data center as a logical computer. Deploy petabytes of addressable memory and thousands of execution cores, while running a single application.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Safety</h4>
                    <p class="text-muted">Keep what's important, but ditch the complexity. Move reliability, fault tolerance, and availability into the mainframe while you focus on what matters.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">High Performance</h4>
                    <p class="text-muted">Use our novel algorithms to keep applications fast at scale. Optimally and dynamically use memory and compute resources across all of your machines.</p>
                </div>
            </div>
        </div>
    </section>
